body {
  margin: 0;
  padding: 0;
}

/* Banner */
.banner {
  height: 300px;
  display: flex;
  overflow: hidden;
}

.banner img {
  height: 100%;
  width: auto;
}

/* Search */
.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search-form label {
  font-size: 25px;
}

.search-form input {
  margin: 35px 0px 35px 20px;
  min-width: 550px;
  padding: 5px 10px;
  border-color: black;
}

.search-form button {
  margin: 35px 0px 35px 0px;
  padding: 5px;
  width: 150px;
  background-color: black;
  color: white;
}

/* Card */

.container {
  display: grid;
  grid-gap: 1.8rem;
  padding: 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.card {
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.card-details {
  margin-top: 10px;
}

.card-title {
  margin: 5px 0;
  height: auto;
}

.card-title-text {
  display: table-cell;
  vertical-align: middle;
}

.card-release,
.card-rating,
.card-overview {
  margin: 5px 0;
}
